@import url('https://fonts.googleapis.com/css?family=Exo+2:500|Roboto&display=swap');

body {
    background: white;
}

h1, h2, h3 {
    font-family: 'Exo 2', sans-serif;
    color: #4831c5;
}

p {
    font-family: 'Roboto', sans-serif;
}

a.nav-link {
    font-family: 'Exo 2', sans-serif;
}

span.flashy-text {
    font-size: 32px;
    color: #49abff;
}

div.gap-top-sm {
    margin-top: 18px;
}