@import url('https://fonts.googleapis.com/css?family=Exo+2:500|Roboto&display=swap');

body {
    background: white;
}

h1, h2, h3 {
    font-family: 'Exo 2', sans-serif;
    color: #4831c5;
}

p {
    font-family: 'Roboto', sans-serif;
}

a.nav-link {
    font-family: 'Exo 2', sans-serif;
}

span.flashy-text {
    font-size: 32px;
    color: #49abff;
}

div.gap-top-sm {
    margin-top: 18px;
}

a.button-link-create {
    background-color: #28a745;
    font-size: 20px;
    padding: 6px;
    text-decoration: none;
    color: white;
    border: solid 1px #04a71b;
    border-radius: 6px;
}

a.button-link-create:hover {
    cursor: pointer;
    background-color: white;
    color: #28a745;
}

thead tr th {
    color: #49abff;
}

table.table {
    margin-top: 12px;
}

.material-icons.orange600 { color: #FB8C00; }
.material-icons.red600 { color: #fb3436; }